# Exercise 05 : Pandas optimizations

In [27]:
import pandas as pd
import gc

## read the fines.csv that you saved in the previous exercise

In [28]:
df = pd.read_csv('../data/fines.csv')

## iterations: in all the following subtasks, you need to calculate fines/refund*year for<br>each row and create a new column with the calculated data and measure the time<br>using the magic command %%timeit in the cell

- loop: write a function that iterates through the dataframe using for i in<br>range(0, len(df)), iloc and append() to a list, assign the result of the function to a new column in the dataframe

In [29]:
%%timeit
new_col = []
for i in range(len(df)):
    new_col.append(df.iloc[i]['Fines'] / (df.iloc[i]['Refund'] * df.iloc[i]['Year']))
df['calculate_column'] = new_col

300 ms ± 1.68 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [30]:
df['calculate_column']

0       0.804424
1       3.258145
2       1.058468
3       0.496278
4       2.830189
         ...
925     9.495252
926     8.627736
927     7.904809
928     7.293106
929    10.529232
Name: calculate_column, Length: 930, dtype: float64

- do it using iterrows()

In [31]:
%%time
new_col = []
for i, row in df.iterrows():
    new_col.append(row['Fines'] / (row['Refund'] * row['Year']))
df['calculate_column'] = new_col

CPU times: user 49.5 ms, sys: 1.4 ms, total: 50.9 ms
Wall time: 50.1 ms

In [32]:
df['calculate_column']

0       0.804424
1       3.258145
2       1.058468
3       0.496278
4       2.830189
         ...
925     9.495252
926     8.627736
927     7.904809
928     7.293106
929    10.529232
Name: calculate_column, Length: 930, dtype: float64

- do it using apply() and lambda function

In [33]:
%%time
df['calculate_column'] = df.apply(lambda row: row['Fines'] / (row['Refund'] * row['Year']), axis=1)

CPU times: user 14.5 ms, sys: 627 µs, total: 15.1 ms
Wall time: 14.6 ms

In [34]:
df['calculate_column']

0       0.804424
1       3.258145
2       1.058468
3       0.496278
4       2.830189
         ...
925     9.495252
926     8.627736
927     7.904809
928     7.293106
929    10.529232
Name: calculate_column, Length: 930, dtype: float64

- do it using Series objects from the dataframe

In [35]:
%%time
df['calculate_column'] = df['Fines'] / (df['Refund'] * df['Year'])

CPU times: user 577 µs, sys: 41 µs, total: 618 µs
Wall time: 586 µs

In [36]:
df['calculate_column']

0       0.804424
1       3.258145
2       1.058468
3       0.496278
4       2.830189
         ...
925     9.495252
926     8.627736
927     7.904809
928     7.293106
929    10.529232
Name: calculate_column, Length: 930, dtype: float64

- do it as in the previous subtask but with the method .values

In [37]:
%%time
df['calculate_column'] = df['Fines'].values / (df['Refund'].values * df['Year'].values)

CPU times: user 307 µs, sys: 37 µs, total: 344 µs
Wall time: 311 µs

In [38]:
df['calculate_column']

0       0.804424
1       3.258145
2       1.058468
3       0.496278
4       2.830189
         ...
925     9.495252
926     8.627736
927     7.904809
928     7.293106
929    10.529232
Name: calculate_column, Length: 930, dtype: float64

## indexing: measure the time using the magic command %%timeit in the cell

- get a row for a specific CarNumber, for example, ’O136HO197RUS’

In [39]:
%%time
df.loc[df['CarNumber'] == 'O136HO197RUS']

CPU times: user 579 µs, sys: 27 µs, total: 606 µs
Wall time: 583 µs

        CarNumber  Refund   Fines    Make    Model  Year  calculate_column
715  O136HO197RUS       2  7800.0  Toyota  Corolla  1989          1.960784
902  O136HO197RUS       2  7800.0  Toyota  Corolla  1987          1.962758

- set the index in your dataframe with CarNumber

In [40]:
%%time
df = df.set_index('CarNumber')

CPU times: user 539 µs, sys: 44 µs, total: 583 µs
Wall time: 552 µs

- again, get a row for the same CarNumber

In [41]:
%%time
df.loc['O136HO197RUS']

CPU times: user 999 µs, sys: 331 µs, total: 1.33 ms
Wall time: 1.02 ms

              Refund   Fines    Make    Model  Year  calculate_column
CarNumber
O136HO197RUS       2  7800.0  Toyota  Corolla  1989          1.960784
O136HO197RUS       2  7800.0  Toyota  Corolla  1987          1.962758

## downcasting:

- run df.info(memory_usage=’deep’), pay attention to the Dtype and the memory usage

In [42]:
%%time
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to abcd12345ac
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Refund            930 non-null    int64
 1   Fines             930 non-null    float64
 2   Make              930 non-null    object
 3   Model             919 non-null    object
 4   Year              930 non-null    int64
 5   calculate_column  930 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 236.0 KB
CPU times: user 4.53 ms, sys: 598 µs, total: 5.13 ms
Wall time: 4.58 ms

- make a copy() of your initial dataframe into another dataframe optimized

In [43]:
df_copy = df.copy()
df_copy

              Refund     Fines        Make    Model  Year  calculate_column
CarNumber
Y163O8161RUS       2    3200.0        Ford    Focus  1989          0.804424
E432XX77RUS        1    6500.0      Toyota    Camry  1995          3.258145
7184TT36RUS        1    2100.0        Ford    Focus  1984          1.058468
X582HE161RUS       2    2000.0        Ford    Focus  2015          0.496278
92918M178RUS       1    5700.0        Ford    Focus  2014          2.830189
...              ...       ...         ...      ...   ...               ...
abcd12349ac       10  190000.0        Ford    Focus  2001          9.495252
abcd12348ac       11  190000.0      Toyota  Corolla  2002          8.627736
abcd12347ac       12  190000.0      Toyota    Camry  2003          7.904809
abcd12346ac       13  190000.0  Volkswagen     Golf  2004          7.293106
abcd12345ac        9  190000.0       Skoda  Octavia  2005         10.529232

[930 rows x 6 columns]

- downcast from float64 to float32 for all the columns

In [44]:
df_copy['Fines'] = df_copy['Fines'].astype("float32")
df_copy['calculate_column'] = df_copy['calculate_column'].astype("float32")
df_copy

              Refund     Fines        Make    Model  Year  calculate_column
CarNumber
Y163O8161RUS       2    3200.0        Ford    Focus  1989          0.804424
E432XX77RUS        1    6500.0      Toyota    Camry  1995          3.258145
7184TT36RUS        1    2100.0        Ford    Focus  1984          1.058468
X582HE161RUS       2    2000.0        Ford    Focus  2015          0.496278
92918M178RUS       1    5700.0        Ford    Focus  2014          2.830189
...              ...       ...         ...      ...   ...               ...
abcd12349ac       10  190000.0        Ford    Focus  2001          9.495253
abcd12348ac       11  190000.0      Toyota  Corolla  2002          8.627736
abcd12347ac       12  190000.0      Toyota    Camry  2003          7.904809
abcd12346ac       13  190000.0  Volkswagen     Golf  2004          7.293106
abcd12345ac        9  190000.0       Skoda  Octavia  2005         10.529232

[930 rows x 6 columns]

-  downcast from int64 to the smallest numerical dtype possible

In [45]:
df_copy['Refund'] = pd.to_numeric(df_copy['Refund'], downcast='integer')
df_copy['Year'] = pd.to_numeric(df_copy['Year'], downcast='integer')

-  run info(memory_usage=’deep’) for your new dataframe, pay attention to the<br>Dtype and the memory usage

In [46]:
df_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to abcd12345ac
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Refund            930 non-null    int8
 1   Fines             930 non-null    float32
 2   Make              930 non-null    object
 3   Model             919 non-null    object
 4   Year              930 non-null    int16
 5   calculate_column  930 non-null    float32
dtypes: float32(2), int16(1), int8(1), object(2)
memory usage: 216.9 KB

## categories:

- change the object type columns to the type category

In [47]:
df_copy.reset_index(inplace=True)

In [48]:
df_copy.reset_index()
df_copy['CarNumber'] = df_copy['CarNumber'].astype('category')
df_copy['Make'] = df_copy['Make'].astype('category')
df_copy['Model'] = df_copy['Model'].astype('category')

- This time, check the memory usage, it probably has a decrease of 2-3 times<br>compared to the initial dataframe

In [49]:
df_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CarNumber         930 non-null    category
 1   Refund            930 non-null    int8
 2   Fines             930 non-null    float32
 3   Make              930 non-null    category
 4   Model             919 non-null    category
 5   Year              930 non-null    int16
 6   calculate_column  930 non-null    float32
dtypes: category(3), float32(2), int16(1), int8(1)
memory usage: 67.5 KB

## memory clean

- using %reset_selective and the library gc clean the memory of your initial<br>dataframe only

In [50]:
df

              Refund     Fines        Make    Model  Year  calculate_column
CarNumber
Y163O8161RUS       2    3200.0        Ford    Focus  1989          0.804424
E432XX77RUS        1    6500.0      Toyota    Camry  1995          3.258145
7184TT36RUS        1    2100.0        Ford    Focus  1984          1.058468
X582HE161RUS       2    2000.0        Ford    Focus  2015          0.496278
92918M178RUS       1    5700.0        Ford    Focus  2014          2.830189
...              ...       ...         ...      ...   ...               ...
abcd12349ac       10  190000.0        Ford    Focus  2001          9.495252
abcd12348ac       11  190000.0      Toyota  Corolla  2002          8.627736
abcd12347ac       12  190000.0      Toyota    Camry  2003          7.904809
abcd12346ac       13  190000.0  Volkswagen     Golf  2004          7.293106
abcd12345ac        9  190000.0       Skoda  Octavia  2005         10.529232

[930 rows x 6 columns]

In [51]:
%reset_selective -f df

In [52]:
df

NameError: name 'df' is not defined