# Exercise 03 : Selects and<br>aggregations

In [39]:
import pandas as pd

## load the JSON file that you created in the previous exercise into a dataframe

- and set CarNumber as the index column

In [40]:
df = pd.read_json('../data/auto.json').set_index('CarNumber')
df

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
E432XX77RUS        1   6500.000000  Toyota    Camry
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 4 columns]

##  make the following selects

- display the rows only where the fines are more than 2,100

In [41]:
df.where(df.Fines>2100).dropna()

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS     2.0   3200.000000        Ford    Focus
E432XX77RUS      1.0   6500.000000      Toyota    Camry
92918M178RUS     1.0   5700.000000        Ford    Focus
H234YH197RUS     2.0   6000.000000        Ford    Focus
E40577152RUS     1.0   8594.586466        Ford    Focus
...              ...           ...         ...      ...
O718MM163RUS     2.0   8594.586466        Ford    Focus
7065C8197RUS     2.0  11400.000000  Volkswagen   Passat
O22097197RUS     1.0  24300.000000        Ford    Focus
M0309X197RUS     1.0  22300.000000        Ford    Focus
H419XE197RUS     2.0   8594.586466      Toyota  Corolla

[447 rows x 4 columns]

- display the rows only where the fines are more than 2,100 and the refund
equals 2

In [42]:
df.where(df.Fines>2100).where(df.Refund==2).dropna()

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS     2.0   3200.000000        Ford    Focus
H234YH197RUS     2.0   6000.000000        Ford    Focus
707987163RUS     2.0   2200.000000        Ford    Focus
K330T8197RUS     2.0   8200.000000       Skoda  Octavia
M592CH197RUS     2.0   8594.586466       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS     2.0   7800.000000      Toyota  Corolla
O68897197RUS     2.0  12300.000000        Ford    Focus
O718MM163RUS     2.0   8594.586466        Ford    Focus
7065C8197RUS     2.0  11400.000000  Volkswagen   Passat
H419XE197RUS     2.0   8594.586466      Toyota  Corolla

[302 rows x 4 columns]

- display the rows only where the models are from the list: [’Focus’, ’Corolla’]

In [43]:
df.query("Model in  ['Focus', 'Corolla']")

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

- display the rows only where the car number is from the list: [’Y7689C197RUS’,<br>’92928M178RUS’, ’7788KT197RUS’, ’H115YO163RUS’, ’X758HY197RUS’]

In [44]:
df.query("CarNumber in  ['Y7689C197RUS','92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']")

              Refund          Fines  Make  Model
CarNumber
92928M178RUS       1    8594.586466  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
Y7689C197RUS       1   27000.000000  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus

## make the aggregations with the make and the model

- display the median fines grouped by the make

In [45]:
df.groupby(['Make']).median()['Fines']

Make
Audi          4200.0
BMW           6500.0
Ford          3500.0
Skoda         3250.0
Toyota        7700.0
Volkswagen    4300.0
Volvo         8500.0
Name: Fines, dtype: float64

- display the median fines grouped by the make and the model

In [46]:
df.groupby(['Make', 'Model']).median()['Fines']

Make        Model
Ford        Focus      3500.0
            Mondeo     7650.0
Skoda       Octavia    3250.0
Toyota      Camry      7700.0
            Corolla    7700.0
Volkswagen  Golf       4800.0
            Jetta      2800.0
            Passat     3500.0
            Touareg    5800.0
Name: Fines, dtype: float64

- display the number of fines grouped by the make and the model in order to<br>
understand if we can trust the median values

In [47]:
df.groupby(['Make', 'Model']).count()['Fines']

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

- display the minimum and the maximum fines grouped by the make and the<br>model in order to better understand the variance

In [48]:
df.groupby(['Make', 'Model']).min()['Fines']

Make        Model
Ford        Focus       100.0
            Mondeo     1100.0
Skoda       Octavia     300.0
Toyota      Camry       500.0
            Corolla     900.0
Volkswagen  Golf        200.0
            Jetta       500.0
            Passat      100.0
            Touareg     500.0
Name: Fines, dtype: float64

In [49]:
df.groupby(['Make', 'Model']).max()['Fines']

Make        Model
Ford        Focus      180000.000000
            Mondeo      46200.000000
Skoda       Octavia    145000.000000
Toyota      Camry       22400.000000
            Corolla     34300.000000
Volkswagen  Golf       168000.000000
            Jetta       46000.000000
            Passat      29700.000000
            Touareg      8594.586466
Name: Fines, dtype: float64

- display the standard deviation of the fines grouped by the make and the model<br>in order to better understand the variance

In [50]:
df.groupby(['Make', 'Model']).std()['Fines']

Make        Model
Ford        Focus      15041.269437
            Mondeo     18987.329108
Skoda       Octavia    24339.742174
Toyota      Camry       6410.250654
            Corolla     9629.325617
Volkswagen  Golf       36950.839950
            Jetta      17743.026799
            Passat      6969.739135
            Touareg     3461.778173
Name: Fines, dtype: float64

## make the aggregations with the car number

- display the car numbers grouped by the number of the fines in descending<br>order, we want to find those who most often violated the law

In [51]:
df.groupby( 'CarNumber').count().sort_values(by=['Fines'],ascending=False)['Fines']

CarNumber
Y7689C197RUS    4
92928M178RUS    4
7788KT197RUS    4
H115YO163RUS    3
X758HY197RUS    3
               ..
E42577152RUS    1
E42377152RUS    1
E41977152RUS    1
E41577152RUS    1
H917TC36RUS     1
Name: Fines, Length: 531, dtype: int64

- select from the initial dataframe all the rows corresponding to the top-1 car<br>number, we want to zoom in a little bit

In [52]:
top_1_number = df.groupby( 'CarNumber').count().sort_values(by=['Fines'],ascending=False)['Fines'].index[0]
df.query(f"CarNumber == '{top_1_number}'")

              Refund    Fines  Make  Model
CarNumber
Y7689C197RUS       1  27000.0  Ford  Focus
Y7689C197RUS       2   9000.0  Ford  Focus
Y7689C197RUS       2  45000.0  Ford  Focus
Y7689C197RUS       1  36000.0  Ford  Focus

- display the car numbers grouped by the sum of the fines in descending order,<br>we want to find those who paid the most

In [53]:
df.groupby( 'CarNumber').sum().sort_values(by=['Fines'],ascending=False)['Fines']

CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
83218C154RUS       100.0
Y195O8161RUS       100.0
K376HE161RUS       100.0
705787163RUS       100.0
K326T8197RUS       100.0
Name: Fines, Length: 531, dtype: float64

- select from the initial dataframe all the rows corresponding to the top-1 car<br>number, we want to zoom in a little bit

In [54]:
top_1_number = df.groupby( 'CarNumber').sum().sort_values(by=['Fines'],ascending=False)['Fines'].index[0]
df.query(f"CarNumber == '{top_1_number}'")

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

- display a table that answers the question: are there any car numbers that were<br>connected to different models?

In [55]:
df.loc[df.reset_index().drop_duplicates(["CarNumber", "Model"]).groupby("CarNumber")["Make"].count().sort_values(ascending=False).index[0]]

              Refund   Fines        Make    Model
CarNumber
E316EH197RUS       1  1300.0  Volkswagen     None
E316EH197RUS       1  1300.0  Volkswagen  Touareg

In [56]:
df.groupby(['Make', 'Model']).agg('Fines').count()

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

# TESTS

In [58]:
models = ['Focus', 'Corolla']
df.loc[df['Model'].isin(models)]

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

In [59]:
df.groupby(['Make', 'Model']).agg('Fines').count()

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64